---
import BaseLayout from "../Layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div slot="article" class="article">
		
	</div>
</BaseLayout>
